

.footer{
    width: 100%;
    height: 298px;
    background: rgba(255, 224, 0, 1);
    margin-top: 60px;
}
.footer__top{
    width: 90%;
    height: 250px;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.footer__bottom{
    width: 90%;
    height: 48px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;

}
.foot__card{
    width: 25%;
    height: 250px;
}
.foot__card p{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.foot__icon{
    font-size: 30px;
    display: flex;
    gap: 15px;
}
.foot__ul li{
   list-style: none;
   font-size: 25px;
   line-height: 40px;
}





@media screen and (max-width:1350px) {
    .foot__ul li{
        list-style: none;
        font-size: 22px;
        line-height: 35px;
     }
     .foot__card{
        width: 30%;
        height: 250px;
    }
}
@media screen and (max-width:1000px) {
    .foot__ul li{
        list-style: none;
        font-size: 20px;
        line-height: 30px;
     }
     .foot__card{
        width: 33%;
        height: 250px;
    }
}
@media screen and (max-width:600px) {
    .foot__ul li{
        list-style: none;
        font-size: 15px;
        line-height: 30px;
     }
     .footer{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
     .footer__top{
        width: 90%;
        height: auto;
        flex-wrap: wrap;
    
    }
     .foot__card{
        width: 90%;
        height: auto;
        margin-top: 15px;
    }
    .footer__bottom p{
        font-size: 14px;
    }
    .foot__span{
        display: flex;
        font-size: 10px;
        gap: 10px;
    }
    .foot__span img{
        width: 50px;
        height: 50px;
    }
    .foot__icon{
        font-size: 20px;
        display: flex;
        gap: 5px;
    }
    .foot__card p{
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }
}





