@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

.banner {
    width: 100%;
    height: 582px;
    background: url("../../assets/mask.png") no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

}

.banner__text {
    width: 650px;
    height: 475px;
    border-radius: 30px;
    background: #ffffff;
    padding: 40px;
}

.banner__text h1 {
    font-size: 84px;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
}

.banner__text h3 {
    font-size: 40px;
    font-family: "Tektur", sans-serif;
    font-weight: 500;
}

.banner__text p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 50px;
}

.banner__btn {
    width: 320px;
    height: 62px;
    border-radius: 8px;
    background: #000000;
    font-size: 24px;
    color: #ffe001;
    border: none;
}

/* banner__main */


.banner__main {
    width: 90%;
    height: 320px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.banner__card {
    width: 398px;
    height: 350px;
    background: #f0d625;
    color: #000000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 55px 15px #a29005;
}

.banner__card h1 {
    font-size: 120px;
    font-family: "Tektur", sans-serif;
    font-weight: 800;
}

.banner__card p {
    font-size: 40px;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
}

.banner__parag {
    width: 100%;
    height: 456px;
    background: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__parag p {
    width: 85%;
    font-size: 32px;
    font-weight: 400;
}
















@media screen and (max-width:1440px) {
    .banner {
        padding: 0px 20px;
    }

    .banner__main {
        width: 90%;
        height: auto;

    }

    .banner__card {
        width: 298px;
        height: 270px;
    }

    .banner__card h1 {
        font-size: 100px;
        font-family: "Tektur", sans-serif;
        font-weight: 800;
    }

    .banner__card p {
        font-size: 30px;
        font-family: "Tektur", sans-serif;
        font-weight: 600;
    }

    .banner__parag {
        width: 100%;
        height: auto;
        padding: 60px 0px;
    }

    .banner__parag p {
        width: 85%;
        font-size: 28px;
        font-weight: 400;
    }

}

@media screen and (max-width:1200px) {
    .banner__text {
        width: 550px;
        height: 375px;
    }

    .banner__text h1 {
        font-size: 64px;
    }

    .banner__text h3 {
        font-size: 20px;
    }

    .banner__text p {
        font-size: 18px;
        margin-top: 50px;
    }

    .banner__btn {
        width: 270px;
        height: 52px;
        font-size: 20px;
    }

    .banner__img {
        width: 550px;
    }
}

@media screen and (max-width:1050px) {
    .banner__card {
        margin-top: 20px;
    }
}

@media screen and (max-width:950px) {
    .banner {
        height: 482px;

    }

    .banner__text {
        width: 450px;
        height: 325px;
    }

    .banner__text h1 {
        font-size: 59px;
    }

    .banner__text h3 {
        font-size: 18px;
    }

    .banner__text p {
        font-size: 16px;
        margin-top: 40px;
    }

    .banner__btn {
        width: 250px;
        height: 47px;
        font-size: 20px;
    }

    .banner__img {
        width: 400px;
    }

}

@media screen and (max-width:750px) {
    .banner {
        height: 382px;

    }

    .banner__text {
        width: 350px;
        height: 305px;
        padding: 30px;
    }

    .banner__text h1 {
        font-size: 45px;
    }

    .banner__text h3 {
        font-size: 17px;
    }

    .banner__text p {
        font-size: 15px;
        margin-top: 40px;
    }

    .banner__btn {
        width: 220px;
        height: 38px;
        font-size: 18px;
    }

    .banner__img {
        width: 250px;
    }

    /*  */
    .banner__card {
        width: 248px;
        height: 160px;
    }

    .banner__card h1 {
        font-size: 60px;
        font-family: "Tektur", sans-serif;
        font-weight: 800;
    }

    .banner__card p {
        font-size: 20px;
        font-family: "Tektur", sans-serif;
        font-weight: 600;
    }

    .banner__parag {
        width: 100%;
        padding: 60px 0px;
    }

    .banner__parag p {
        width: 85%;
        font-size: 28px;
    }
}

@media screen and (max-width:600px) {
    .banner__card {
        width: 218px;
        height: 140px;
    }

    .banner__card h1 {
        font-size: 40px;
        font-family: "Tektur", sans-serif;
        font-weight: 800;
    }

    .banner__card p {
        font-size: 17px;
        font-family: "Tektur", sans-serif;
        font-weight: 600;
    }

    .banner__parag {
        width: 100%;
        padding: 60px 0px;
    }

    .banner__parag p {
        width: 85%;
        font-size: 28px;
    }

    .place__b {
        display: inline-block;
        margin-top: 25px;
    }
}

@media screen and (max-width:500px) {
    .banner {
        height: 282px;

    }

    .banner__text {
        width: 270px;
        height: 205px;
        padding: 15px;
    }

    .banner__text h1 {
        font-size: 32px;
    }

    .banner__text h3 {
        font-size: 15px;
    }

    .banner__text p {
        font-size: 13px;
        margin-top: 10px;
    }

    .banner__btn {
        width: 160px;
        height: 25px;
        font-size: 14px;
    }

    .banner__img {
        width: 200px;
    }

    /*  */
    .banner__main {
        width: 95%;
        margin: 10px auto;

    }

    .banner__card {
        width: 180px;
        height: 120px;
        border-radius: 15px;
        box-shadow: 2px 2px 30px 8px #7e7004;

    }

    .banner__card h1 {
        font-size: 30px;
        font-family: "Tektur", sans-serif;
        font-weight: 800;
    }

    .banner__card p {
        font-size: 15px;
        font-family: "Tektur", sans-serif;
        font-weight: 600;
    }

    .banner__parag {
        width: 100%;
        padding: 10px;
    }

    .banner__parag p {
        width: 95%;
        font-size: 19px;
    }


}